@{
ViewData["Title"] = "Roles Management";
Layout = "~/Views/Shared/_Layout.cshtml";
}

<!-- <label class="checkbox">
    <input type="checkbox" name="permissions" value="12" />
    <span></span>&nbsp Allow</label> -->


<!--begin::Card-->
<div class="card card-custom gutter-b col-lg-7">
    <div class="card-header flex-wrap py-3">
        <div class="card-title">
            <h3 class="card-label">Roles Management
            </h3>
        </div>
    </div>
    <div class="card-body">
        <div class="form-group row">
            <div class="col-sm-5">
                <label>Select Role</label>
                <select class="form-control" id="dpDownRoles">
                </select>
            </div>
        </div>
        <!--begin: Datatable-->
        <table class="table table-bordered table-checkable" id="tblScreens">
            <thead>
                <tr>
                    <th>S no</th>
                    <th>Screens</th>
                    <th>Permission</th>
                </tr>
            </thead>
            <tbody>

            </tbody>
        </table>
        <br>
        <button type="submit" class="btn btn-primary btn-block" id="btnPermissions">Submit</button>
        <!--end: Datatable-->
    </div>
</div>

<div class="row">
    <div class="col-md-4">
        <div class="card card-custom gutter-b example example-compact">
            <div class="card-header">
                <h3 class="card-title">Create New Role</h3>
            </div>
            <!--begin::Form-->
            <div class="card-body">
                <div class="form-group">
                    <label id="lblname">Role Name
                        <span class="error">*</span>
                    </label>
                    <input type="text" class="form-control" id="txtRoleName" autocomplete="off">
                </div>
                <button type="submit" class="btn btn-primary btn-lg btn-block" id="btnSubmit">Submit</button>
            </div>
            <!--end::Form-->
        </div>
    </div>
    <div class="col-lg-8">
        <div class="card card-custom">
            <div class="card-header">
                <h3 class="card-title">View Roles</h3>
            </div>
            <div class="card-body">
                <!--begin: Datatable-->
                <table class="table table-bordered table-hover table-checkable mt-10" id="tblRoles">
                    <thead>
                        <tr>
                            <th>Role ID</th>
                            <th>Role Name</th>
                            <th>Actions</th>
                        </tr>
                    </thead>
                </table>
                <!--end: Datatable-->
            </div>
        </div>
    </div>
</div>
<!--end::Card-->
<script src="~/LMS/lib/jquery-3.6.0.js"></script>
<script src="~/LMS/lib/jquery.validate.min.js"></script>
<script type="text/javascript" src="~/LMS/ViewsJquery/RolesManagement.js"></script>