@{
    ViewData["Title"] = "AssignPermissions";
    Layout = "~/Views/Shared/_Layout.cshtml";

}
<div class="form-panel">
    <div class="row">
        <div class="col-lg-4">
            <h1><i class="fa fa-angle-right"></i> ROLES MANAGEMENT</h1>
            <select class="form-control" id="dpDownClassDay">
                <option>Roles</option>
                <option>Admin</option>
                <option>Faculty</option>
                <option>User</option>
            </select>
        </div>

    </div>

</div>
<div class="form-panel">
    <div class="row">
        <div class="col-md-6 col-sm-12">
            <h3><a href="~/User/AddNewUser" class="link-primary">ADD NEW USER</a></h3>
        </div>
        <div class="col-md-6 col-sm-12">
            <div class="checkbox">
                <h3>
                    <label>

                        <input type="checkbox" value="" id="cbNewUser">
                        ALLOW
                    </label>
                </h3>

            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-6 col-sm-12">
            <h3><a href="~/User/ViewUsers" class="link-primary">VIEW ALL USERS</a></h3>
        </div>
        <div class="col-md-6 col-sm-12">
            <div class="checkbox">
                <h3>
                    <label>

                        <input type="checkbox" value="" id="cbViewAllUsers">
                        ALLOW
                    </label>
                </h3>

            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-6 col-sm-12">
            <h3><a href="~/User/UploadBulkUsers" class="link-primary">UPLOAD BULK USERS</a></h3>
        </div>
        <div class="col-md-6 col-sm-12">
            <div class="checkbox">
                <h3>
                    <label>

                        <input type="checkbox" value="" id="cbBulkUsers">
                        ALLOW
                    </label>
                </h3>

            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-6 col-sm-12">
            <h3><a href="~/AdminCourses/AssignNewClass" class="link-primary">ASSIGN NEW COURSE</a></h3>
        </div>
        <div class="col-md-6 col-sm-12">
            <div class="checkbox">
                <h3>
                    <label>

                        <input type="checkbox" value="" id="cbAssignNewCourse">
                        ALLOW
                    </label>
                </h3>

            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-6 col-sm-12">
            <h3><a href="~/AdminCourses/AddNewCourse" class="link-primary">ADD NEW COURSE</a></h3>
        </div>
        <div class="col-md-6 col-sm-12">
            <div class="checkbox">
                <h3>
                    <label>

                        <input type="checkbox" value="" id="cbAddNewCourse">
                        ALLOW
                    </label>
                </h3>

            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-6 col-sm-12">
            <h3><a href="~/AdminCourses/EnrollUsers" class="link-primary">MANUALLY ENROLL USER</a></h3>
        </div>
        <div class="col-md-6 col-sm-12">
            <div class="checkbox">
                <h3>
                    <label>

                        <input type="checkbox" value="" id="cbEnrollUser">
                        ALLOW
                    </label>
                </h3>

            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-6 col-sm-12">
            <h3><a href="~/Roles/AssignPermissions" class="link-primary">ROLES MANAGEMENT</a></h3>
        </div>
        <div class="col-md-6 col-sm-12">
            <div class="checkbox">
                <h3>
                    <label>

                        <input type="checkbox" value="" id="cbRoles">
                        ALLOW
                    </label>
                </h3>

            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-6 col-sm-12">
            <h3><a href="#" class="link-primary">PROGRAM</a></h3>
        </div>
        <div class="col-md-6 col-sm-12">
            <div class="checkbox">
                <h3>
                    <label>

                        <input type="checkbox" value="" id="cbProgram">
                        ALLOW
                    </label>
                </h3>

            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-6 col-sm-12">
            <h3><a href="#" class="link-primary">CURRENT CLASSES</a></h3>
        </div>
        <div class="col-md-6 col-sm-12">
            <div class="checkbox">
                <h3>
                    <label>

                        <input type="checkbox" value="" id="cbCurrentClasses">
                        ALLOW
                    </label>
                </h3>

            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-6 col-sm-12">
            <h3><a href="#" class="link-primary">REGISTERED COURSES</a></h3>
        </div>
        <div class="col-md-6 col-sm-12">
            <div class="checkbox">
                <h3>
                    <label>

                        <input type="checkbox" value="" id="cbRegisteredCourses">
                        ALLOW
                    </label>
                </h3>

            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-6 col-sm-12">
            <h3><a href="#" class="link-primary">TEST RESULTS</a></h3>
        </div>
        <div class="col-md-6 col-sm-12">
            <div class="checkbox">
                <h3>
                    <label>

                        <input type="checkbox" value="" id="cbTestResults">
                        ALLOW
                    </label>
                </h3>

            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-6 col-sm-12">
            <h3><a href="#" class="link-primary">UPLOAD RESULTS</a></h3>
        </div>
        <div class="col-md-6 col-sm-12">
            <div class="checkbox">
                <h3>
                    <label>

                        <input type="checkbox" value="" id="cbUploadResults">
                        ALLOW
                    </label>
                </h3>

            </div>
        </div>
    </div>
</div>
<script type="text/javascript" src="~/LMS/ViewsJquery/RolesManagement.js"></script>