@{
ViewData["Title"] = "Add New Program";
Layout = "~/Views/Shared/_Layout.cshtml";

}
<div class="row mt">
    <div class="col-lg-4">
        <div class="card card-custom gutter-b example example-compact ">
            <div class="card-header">
                <h3 class="card-title">Add new Program</h3>
            </div>
            <div class="card-body">
                <form>
                    <div class="form-group row">
                        <div class="col-sm-12">
                            <label>Program Full Name
                                <span class="error">*</span>
                            </label>
                            <input type="text" class="form-control" placeholder="" id="txtFullName">
                        </div>
                        <div class="col-sm-12">
                            <label>Program Short Name
                                <span class="error">*</span>
                            </label>
                            <input type="text" class="form-control" placeholder="" id="txtShortName">
                        </div>
                    </div>
                    <button type="button" class="btn btn-primary btn-lg btn-block" id="btnCreate">Create</button>
                </form>
            </div>
        </div>



    </div>





    <div class="col-lg-8">
        <div class="card card-custom">
            <div class="card-header">
                <h3 class="card-title">View All Asigned Classes</h3>
            </div>
            <div class="card-body">
                <!--begin: Datatable-->
                <table class="table table-bordered table-hover table-checkable mt-10" id="ProgramTable">
                    <thead>
                        <tr>
                            <th>Program ID</th>
                            <th>Program Name</th>
                            <th>Course Enroled</th>
                            <th>Classes Enrolled</th>
                            <th>Students Enrolled</th>
                        </tr>
                    </thead>
                </table>
                <!--end: Datatable-->
            </div>
        </div>
    </div>
    <!-- col-lg-12-->
</div>
<script src="~/LMS/lib/jquery-3.6.0.js"></script>
<script src="~/LMS/lib/jquery.validate.min.js"></script>
<script type="text/javascript" src="~/LMS/ViewsJquery/AddNewProgram.js"></script>