@{
ViewData["Title"] = "AddNewDpt";
Layout = "~/Views/Shared/_Layout.cshtml";

}
<div class="row mt">
    <div class="col-lg-4">
        <div class="form-panel">
            <h4 class="mb"><i class="fa fa-angle-right"></i> Add new Department</h4>
            <form>
                <div class="form-group row">
                    <div class="col-sm-12">
                        <label>Department Name
                            <span class="error">*</span>
                        </label>
                        <input type="text" class="form-control" placeholder="">
                    </div>
                </div>
                <button type="button" class="btn btn-primary btn-lg btn-block">Create</button>
            </form>
        </div>
    </div>
    <div class="col-lg-8">
        <div class="form-panel">
            <h4 class="mb"><i class="fa fa-angle-right"></i>Classes in Programs</h4>
            <div class="adv-table">
                <table cellpadding="0" cellspacing="0" border="0" class="display table table-bordered"
                    id="hidden-table-info">
                    <thead>
                        <tr>
                            <th>ID</th>
                            <th>Program Name</th>
                            <th>Enrolled Students</th>
                            <th>Enrolled Classes</th>
                            <th>Actions</th>
                            <!-- <th>isActive</th> -->
                        </tr>
                    </thead>
                    <tbody>
                        <tr class="gradeX">
                            <td>23045</td>
                            <td>Computer Organization and Assemlbly Language </td>
                            <td>Computer Organization </td>
                            <td class="hidden-phone">67</td>
                            <td>
                                <button class="btn btn-primary btn-xs"><i class="fa fa-pencil"></i></button>
                                <button class="btn btn-danger btn-xs"><i class="fa fa-trash-o "></i></button>
                            </td>
                        </tr>




                    </tbody>
                </table>
            </div>
        </div>
    </div>
    <!-- col-lg-12-->
</div>