@{
ViewData["Title"] = "AddNewCourse";
Layout = "~/Views/Shared/_Layout.cshtml";

}
<div class="row mt">
    <div class="col-lg-4">
        <div class="form-panel">
            <h4 class="mb"><i class="fa fa-angle-right"></i> Add new Course</h4>
            <form id="addnewcourse">
                <div class="form-group row">
                    <div class="col-sm-12">
                        <label>Course Full Name
                            <span class="error">*</span>
                        </label>
                        <input type="text" class="form-control" id="txtfullName" name="fullName">
                    </div>
                </div>
                <div class="form-group row">
                    <div class="col-sm-5">
                        <label>Short Name
                            <span class="error">*</span>
                        </label>
                        <input type="text" class="form-control" id="txtshortName" name="shortName">
                    </div>

                    <div class="col-sm-5">
                        <label>Course Cr.Hr
                            <span class="error">*</span>
                        </label>
                        <input type="text" class="form-control" id="txtcourseCrHr" name="courseCrHr">
                    </div>
                </div>
                <button type="submit" class="btn btn-primary btn-lg btn-block" id="btnCreate">Create</button>
            </form>
        </div>
    </div>
    <div class="col-lg-8">
        <div class="form-panel">
            <h4 class="mb"><i class="fa fa-angle-right"></i> View Classes</h4>
            <table id="ViewCourses" class="table table-striped table-bordered table-sm display" cellspacing="0"
                width="100%">
                <thead>
                    <tr>
                        <th>CID</th>
                        <th>Course Name</th>
                        <th>Assigned Classes</th>
                        <th class="numeric">Active Classes</th>
                        <th class="numeric">CrHr</th>
                        <th class="numeric">Actions</th>
                    </tr>
                </thead>
                <tfoot>
                    <th>CID</th>
                    <th>Course Name</th>
                    <th>Assigned Classes</th>
                    <th class="numeric">Active Classes</th>
                    <th class="numeric">CrHr</th>
                    <th class="numeric">Actions</th>
                </tfoot>

            </table>
        </div>
    </div>
</div>
<script src="~/LMS/lib/jquery-3.6.0.js"></script>
<script src="~/LMS/lib/jquery.validate.min.js"></script>

<script type="text/javascript" src="~/LMS/ViewsJquery/AddNewCourse.js"></script>