@{
ViewData["Title"] = "AddNewCourse";
Layout = "~/Views/Shared/_Layout.cshtml";

}
<div class="row mt">
    <div class="col-lg-4">
        <div class="card card-custom gutter-b example example-compact">
            <div class="card-header">
                <h3 class="card-title">Add new Course</h3>
            </div>
            <div class="card-body">
                <form id="addnewcourse">
                    <div class="form-group row">
                        <div class="col-sm-12">
                            <label>Course Full Name
                                <span class="error">*</span>
                            </label>
                            <input type="text" class="form-control" id="txtfullName" name="fullName">
                        </div>
                    </div>
                    <div class="form-group row">
                        <div class="col-sm-5">
                            <label>Short Name
                                <span class="error">*</span>
                            </label>
                            <input type="text" class="form-control" id="txtshortName" name="shortName">
                        </div>

                        <div class="col-sm-5">
                            <label>Course Cr.Hr
                                <span class="error">*</span>
                            </label>
                            <input type="text" class="form-control" id="txtcourseCrHr" name="courseCrHr">
                        </div>
                    </div>
                    <button type="submit" class="btn btn-primary btn-lg btn-block" id="btnCreate">Create</button>
                </form>
            </div>
        </div>
    </div>
    <div class="col-lg-8">
        <div class="card card-custom">
            <div class="card-header">
                <h3 class="card-title">View Courses</h3>
            </div>
            <div class="card-body">
                <!--begin: Datatable-->
                <table class="table table-bordered table-hover table-checkable mt-10" id="ViewCourses">
                    <thead>
                        <tr>
                            <th>CID</th>
                            <th>Course Name</th>
                            <th>Classes</th>
                            <th>CrHr</th>
                            <th>Actions</th>
                        </tr>
                    </thead>
                </table>
                <!--end: Datatable-->
            </div>
        </div>
    </div>
</div>





<script src="~/LMS/lib/jquery-3.6.0.js"></script>
<script src="~/LMS/lib/jquery.validate.min.js"></script>

<script type="text/javascript" src="~/LMS/ViewsJquery/AddNewCourse.js"></script>


<!-- <th>CID</th>
<th>Course Name</th>
<th> Classes <span class="error">(ACTIVE)</span></th>
<th class="numeric">CrHr</th>
<th class="numeric">Actions</th> -->