@{
    ViewData["Title"] = "StudentTestResults";
    Layout = "~/Views/Shared/_Layout.cshtml";
    
    }
    <div class="col-lg-7">
        <div class="form-panel">
            <h4 class="mb"><i class="fa fa-angle-right"></i> View Test Results</h4>
            <form>
                <div class="form-group row">
                    <div class="col-sm-12">
                        <label>Select Class</label>
                        <select class="form-control">
                            <option>OOP</option>
                            <option>DCN</option>
                            <option>Automata</option>
                            <option>TE</option>
                        </select>
                    </div>
                </div>
    
    
            </form>
            <section id="no-more-tables">
                <table class="table table-bordered table-striped table-condensed cf">
                    <thead class="cf">
                        <tr>
                            <th>Class ID </th>
                            <th>Assessment Name</th>
                            <th class="numeric">Total Marks</th>
                            <th class="numeric">Marks Obtained</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td data-title="Code">AAC</td>
                            <td data-title="Company">AUSTRALIAN.</td>
                            <td class="numeric" data-title="Price">$1.38</td>
                            <td class="numeric" data-title="Change">-0.01</td>
                        </tr>
                        <tr>
                            <td data-title="Code">AAC</td>
                            <td data-title="Company">AUSTRALIAN.</td>
                            <td class="numeric" data-title="Price">$1.38</td>
                            <td class="numeric" data-title="Change">-0.01</td>
                        </tr>
                        <tr>
                            <td data-title="Code">AAC</td>
                            <td data-title="Company">AUSTRALIAN.</td>
                            <td class="numeric" data-title="Price">$1.38</td>
                            <td class="numeric" data-title="Change">-0.01</td>
                        </tr>
                        <tr>
                            <td data-title="Code">123342</td>
                            <td data-title="Company">ARDENT</td>
                            <td class="numeric" data-title="Price">$1.15</td>
                            <td class="numeric" data-title="Change"> +0.02</td>
                        </tr>
    
                        <tr>
                            <td data-title="Code">ACR</td>
                            <td data-title="Company">ACRUX</td>
                            <td class="numeric" data-title="Price">$3.71</td>
                            <td class="numeric" data-title="Change"> +0.01</td>
                        </tr>
                        <tr>
                            <td data-title="Code">ADU</td>
                            <td data-title="Company">ADAMUS RESOURCES LIMITED</td>
                            <td class="numeric" data-title="Price">$0.72</td>
                            <td class="numeric" data-title="Change">0.00</td>
                        </tr>
                    </tbody>
                </table>
            </section>
        </div>
    </div>