@{
ViewData["Title"] = "Test Results";
Layout = "~/Views/Shared/_Layout.cshtml";

}

<!--begin::Card-->
<div class="card card-custom gutter-b col-lg-7">
    <div class="card-header flex-wrap py-3">
        <div class="card-title">
            <h3 class="card-label">@ViewData["Title"]
            </h3>
        </div>
    </div>
    <div class="card-body">
        <div class="form-group row">
            <div class="col-sm-12">
                <label>Select Class</label>
                <select class="form-control">
                    <option>OOP</option>
                    <option>DCN</option>
                    <option>Automata</option>
                    <option>TE</option>
                </select>
            </div>
        </div>
        <!--begin: Datatable-->
        <table class="table table-bordered table-checkable" >
            <thead>
                <tr>
                    <th>Class ID </th>
                    <th>Class Name </th>
                    <th>Assessment Name</th>
                    <th>Total Marks</th>
                    <th>Marks Obtained</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>50</td>
                    <td>49349-222</td>
                    <td>49349-222</td>
                    <td>China</td>
                    <td>Zhulan</td>
                </tr>
                <tr>
                    <td>50</td>
                    <td>49349-222</td>
                    <td>49349-222</td>
                    <td>China</td>
                    <td>Zhulan</td>
                </tr>
                <tr>
                    <td>50</td>
                    <td>49349-222</td>
                    <td>49349-222</td>
                    <td>China</td>
                    <td>Zhulan</td>
                </tr>
            </tbody>
        </table>
        <!--end: Datatable-->
    </div>
</div>
<!--end::Card-->