@{
ViewData["Title"] = "Upload Results";
Layout = "~/Views/Shared/_Layout.cshtml";
}

<form id="Upload">
    <div class="card card-custom gutter-b example example-compact">
        <div class="card-header flex-wrap py-3">
            <div class="card-title">
                <h3 class="card-label">@ViewData["Title"]
                </h3>
            </div>
        </div>
        <div class="card-body">
            <div class="form-group row">
                <div class="col-lg-5">
                    <h3>Select Class</h3>
                    <select class="form-control" id="dpDownClasses">
                        <option value="0">Select Class</option>
                    </select>
                </div>
                <div class="col-lg-3">
                    <h3>Assesment Type</h3>
                    <select class="form-control" id="dpDownAssements">
                        <option value="0">Select Assesment Type</option>
                    </select>
                </div>
            </div>
            <div class="form-group row">
                <div class="col-lg-8">
                    <table class="table table-bordered table-checkable" id="GetStudents">
                        <thead>
                            <tr>
                                <th >Picture</th>
                                <th style="width: 30%;">Username</th>
                                <th style="width: 50%;">Student Name</th>
                                <th style="width: 20px;">Total Marks</th>
                                <th style="width: 20px">Obtained Marks</th>
                            </tr>
                        </thead>
                    </table>
                </div>
            </div>
            <div class="col-lg-offset-5">
                <button type="submit" class="btn btn-primary btn-lg" id="btnSubmit">Submit</button>
            </div>
        </div>
    </div>
</form>
<script src="~/LMS/lib/jquery-3.6.0.js"></script>
<script src="~/LMS/lib/jquery.validate.min.js"></script>
<script type="text/javascript" src="~/LMS/ViewsJquery/UploadResults.js"></script>