@{
    ViewData["Title"] = "UploadResults";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<form id="Upload">
    <div class="form-panel">

        <div class="form-group row">
            <div class="col-lg-10">
                <h1><i class="fa fa-angle-right"></i> Upload Results </h1>
            </div>
            <div class="col-lg-3">
                <h3>Select Class</h3>
                <select class="form-control" id="dpDownClassDay">
                    <option>Select Class</option>
                    <option>Admin</option>
                    <option>Faculty</option>
                    <option>User</option>
                </select>
            </div>
            <div class="col-lg-3">
                <h3>Assesment Type</h3>
                <select class="form-control" id="dpDownClassDay">
                    <option>Assesment Type</option>
                    <option>Admin</option>
                    <option>Faculty</option>
                    <option>User</option>
                </select>
            </div>

        </div>
    </div>
    <div class="form-panel">
        <div class="form-group row">
            <div class="col-lg-6">


                <section id="no-more-tables">
                    <table class="table table-bordered table-striped table-condensed cf">
                        <thead class="cf">
                            <tr>
                                <th>Username</th>
                                <th>Student Name</th>
                                <th class="numeric">Total Marks</th>
                                <th class="numeric">Obtained Marks</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td></td>
                                <td data-title="Company">
                                </td>
                                <td>
                                    <input type="text" class="form-control" id="txtTotalMarks" name="totalMarks">
                                </td>
                                <td>
                                    <input type="text" class="form-control" id="txtObtainedMarks" name="obtainedmarks">
                                </td>
                                <td>
                                    <button class="btn btn-primary btn-xs"><i class="fa fa-pencil"></i></button>
                                    <button class="btn btn-danger btn-xs"><i class="fa fa-trash-o "></i></button>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </section>

            </div>

        </div>
        <div class="col-lg-offset-5">
            <button type="submit" class="btn btn-primary btn-lg" id="btnSubmit">Submit</button>
        </div>
    </div>
</form>
<script src="~/LMS/lib/jquery-3.6.0.js"></script>
<script src="~/LMS/lib/jquery.validate.min.js"></script>
<script type="text/javascript" src="~/LMS/ViewsJquery/UploadResults.js"></script>
