@{
ViewData["Title"] = "Upload Results";
Layout = "~/Views/Shared/_Layout.cshtml";
}

<!-- <form id="Upload"> -->
<div class="card card-custom gutter-b example example-compact">
    <div class="card-header flex-wrap py-3">
        <div class="card-title">
            <h3 class="card-label">@ViewData["Title"]
            </h3>
        </div>
    </div>
    <div class="card-body">
        <div class="form-group row">
            <div class="col-lg-5">
                <h5 class="card-label"> Select Class</h5>
                <select class="form-control" id="dpDownClasses">

                </select>
            </div>
            <div class="col-lg-3">
                <h5 class="card-label">Assesments</h5>
                <select class="form-control" id="dpDownAssements">
                    <option value="0">Select Assesment</option>
                </select>
            </div>

            <div class="col-lg-2" id="marksDiv">
                <h5 class="card-label">Total Marks</h5>
                <input type="text" class="form-control" id="totalMarks">
            </div>
        </div>
        <div class="form-group row">
            <div class="col-lg-10">
                <table class="table table-bordered table-checkable" id="GetStudents">
                    <thead>
                        <tr>
                            <th>Picture</th>
                            <th>Username</th>
                            <th>Student Name</th>
                            <th style="width: 30px;">Obtained Marks</th>
                        </tr>
                    </thead>
                </table>
            </div>
        </div>
        <div class="col-lg-offset-5">
            <button type="submit" class="btn btn-primary btn-lg" id="btnSubmit">Submit</button>
        </div>
    </div>
</div>
<!-- </form> -->
<script src="~/LMS/lib/jquery-3.6.0.js"></script>
<script src="~/LMS/lib/jquery.validate.min.js"></script>
<script type="text/javascript" src="~/LMS/ViewsJquery/UploadResults.js"></script>