@{
ViewData["Title"] = "Assign New Class";
Layout = "~/Views/Shared/_Layout.cshtml";

}
<div class="row">
    <div class="card card-custom gutter-b example example-compact col-lg-5">
        <div class="card-header">
            <h3 class="card-title">@ViewData["Title"]</h3>
        </div>
        <div class="card-body">
            <form id="classes">
                <div class="row">
                    <div class="col-sm-10">
                        <label>Program
                            <span class="error">*</span>
                        </label>
                        <select class="form-control " id="dpPrograms">
                        </select>
                    </div>
                </div>
                <label>Select Course
                    <span class="error">*</span>
                </label>
                <div class="form-group row">
                    <div class="col-sm-10">
                        <select class="form-control " id="DpDownCourse">
                        </select>
                    </div>
                </div>
                <div class="form-group row">
                    <div class="col-sm-10">
                        <label>Class Strength
                            <span class="error">*</span>
                        </label>
                        <input type="text" class="form-control" placeholder="" id="txtClasStrength">
                    </div>
                </div>
                <div class="form-group row">
                    <div class="col-sm-5">
                        <label>Class Day
                            <span class="error">*</span>
                        </label>
                        <select class="form-control" id="dpDownClassDay">
                        </select>
                    </div>
                    <div class="col-sm-5">
                        <label>Class Time
                            <span class="error">*</span>
                        </label>
                        <select class="form-control" id="dpDownClassTime">

                        </select>
                    </div>
                </div>
                <button type="button" class="btn btn-primary btn-lg btn-block" id="btnSubmit">Submit</button>
            </form>
        </div>
    </div>
</div>

<div class="row">
    <div class="col-lg-12">
        <div class="card card-custom">
            <div class="card-header">
                <h3 class="card-title">View All Asigned Classes</h3>
            </div>
            <div class="card-body">
                <!--begin: Datatable-->
                <table class="table table-bordered table-hover table-checkable mt-10" id="ViewClasses">
                    <thead>
                        <tr>
                            <th>CID</th>
                            <th>Course Name</th>
                            <th>Program</th>
                            <th>Day</th>
                            <th>Time</th>
                            <th>Strength</th>
                            <th>Students Enrolled</th>
                            <th>Faculty Assigned</th>
                            <th>Actions</th>
                        </tr>
                    </thead>
                </table>
                <!--end: Datatable-->
            </div>
        </div>
    </div>
</div>
<script src="~/LMS/lib/jquery-3.6.0.js"></script>
<script src="~/LMS/lib/jquery.validate.min.js"></script>
<script type="text/javascript" src="~/LMS/ViewsJquery/AssignNewClass.js"></script>