@{
ViewData["Title"] = "View Course";
Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="form-group">
    <label>Upload Attachment</label>
    <div class="dropzone dropzone-default" id="kt_dropzone_1">
        <div class="dropzone-msg dz-message needsclick">
            <h3 class="dropzone-msg-title">Drop files here or click to upload.</h3>
            <span class="dropzone-msg-desc">This is just a demo dropzone. Selected files are
                <strong>not</strong>actually uploaded.</span>
        </div>
    </div>
</div>

<div class="card card-custom gutter-b example example-compact">
    <div class="card-header">
        <h3 class="card-title" id="ShowCourse"></h3>
    </div>
    <div id="data">
    </div>
</div>


<!--Start Assignment Modal -->
<div class="modal fade" id="AssignmentModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
    aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Assesment</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div class="form-group">
                    <label>
                        Assesment Name
                        <span class="error">*</span>
                    </label>
                    <input type="text" class="form-control" placeholder="" id="txtName" name="name">
                </div>
                <div class="form-group">
                    <label>
                        Description
                    </label>
                    <textarea type="text" class="form-control" placeholder="" id="txtName" name="name"></textarea>
                </div>
                <!-- <div class="form-group">
                    <label>Upload Attachment</label>
                    <div class="dropzone dropzone-default" id="kt_dropzone_1">
                        <div class="dropzone-msg dz-message needsclick">
                            <h3 class="dropzone-msg-title">Drop files here or click to upload.</h3>
                            <span class="dropzone-msg-desc">This is just a demo dropzone. Selected files are
                                <strong>not</strong>actually uploaded.</span>
                        </div>
                    </div>
                </div> -->
                <div class="form-group ">
                    <label>Start</label>
                    <span class="error">*</span>
                    <div class="input-group date" id="kt_datetimepicker_10" data-target-input="nearest">
                        <input type="text" class="form-control datetimepicker-input"
                            placeholder="Select date &amp; time" data-target="#kt_datetimepicker_10" />
                        <div class="input-group-append" data-target="#kt_datetimepicker_10"
                            data-toggle="datetimepicker">
                            <span class="input-group-text">
                                <i class="ki ki-calendar"></i>
                            </span>
                        </div>
                    </div>
                </div>
                <div class="form-group ">
                    <label>End</label>
                    <span class="error">*</span>
                    <div class="input-group date" id="kt_datetimepicker_20" data-target-input="nearest">
                        <input type="text" class="form-control datetimepicker-input"
                            placeholder="Select date &amp; time" data-target="#kt_datetimepicker_20" />
                        <div class="input-group-append" data-target="#kt_datetimepicker_20"
                            data-toggle="datetimepicker">
                            <span class="input-group-text">
                                <i class="ki ki-calendar"></i>
                            </span>
                        </div>
                    </div>
                </div>
                <div class="form-group ">
                    <label class="checkbox">
                        <input type="checkbox" checked="checked" name="Checkboxes1" />
                        <span></span>&nbsp; No late Submission</label>
                </div>

            </div>
            <div class="modal-footer mt">
                <button type="button" class="btn btn-primary">Submit</button>
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>
<!-- Assignment Modal End-->


<!--Start URL Modal -->
<div class="modal fade" id="URLModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
    aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">URL</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div class="form-group">
                    <label>
                        Link Name
                        <span class="error">*</span>
                    </label>
                    <input type="text" class="form-control" placeholder="" id="txtName" name="name">
                </div>
                <div class="form-group">
                    <label>
                        URL
                        <span class="error">*</span>
                    </label>
                    <input type="text" class="form-control" placeholder="" id="txtName" name="name">
                </div>
                <iframe width="450" height="300" src="https://www.youtube.com/embed/eo2iD_wIOcE"
                    title="YouTube video player" frameborder="0"
                    allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
                    allowfullscreen></iframe>
            </div>
            <div class="modal-footer mt">
                <button type="button" class="btn btn-primary">Submit</button>
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>
<!--  URL End-->

<script src="~/LMS/lib/jquery-3.6.0.js"></script>
<script src="~/LMS/lib/jquery.validate.min.js"></script>
<script type="text/javascript" src="~/LMS/ViewsJquery/SingleClassView.js"></script>

<!-- <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#URLModal">Add
    an Activity or resource</button> -->