@{
ViewData["Title"] = "Reset Password";
Layout = "~/Views/Shared/LoginShared.cshtml";

}

<!--begin::Content-->
<div class="d-flex flex-column flex-row-fluid position-relative p-7">
    <!--begin::Content body-->
    <div class="d-flex flex-column-fluid flex-center mt-30 mt-lg-0">
        <!--begin::Signin-->
        <div class="login-form login-signin">
            <div class="text-center mb-10 mb-lg-20">
                <h3 class="font-size-h1">Reset Password</h3>
            </div>
            <!--begin::Form-->
            <form class="form" novalidate="novalidate" id="kt_login_signup_form">
                <div class="form-group">
                    <input class="form-control form-control-solid h-auto py-5 px-6" type="password"
                        placeholder="Password" name="password" autocomplete="off" />
                </div>
                <div class="form-group">
                    <input class="form-control form-control-solid h-auto py-5 px-6" type="password"
                        placeholder="Confirm password" name="cpassword" autocomplete="off" />
                </div>

                <div class="form-group d-flex flex-wrap flex-center">
                    <button type="button" id="kt_login_signup_submit"
                        class="btn btn-primary font-weight-bold px-9 py-4 my-3 mx-4">Submit</button>
                </div>
            </form>
            <!--end::Form-->
        </div>
        <!--end::Signin-->
    </div>
    <!--end::Content body-->
</div>
<!--end::Content-->
<script src="~/LMS/lib/jquery-3.6.0.js"></script>
<script src="~/LMS/lib/jquery.validate.min.js"></script>
<script type="text/javascript" src="~/LMS/ViewsJquery/ResetPassword.js"></script>