@{
    ViewData["Title"] = "Attendence Report";
    Layout = "~/Views/Shared/_Layout.cshtml";

}
<!--begin::Card-->
<div class="card card-custom gutter-b col-lg-10">
    <div class="card-header flex-wrap py-3">
        <div class="card-title">
            <h3 class="card-label">@ViewData["Title"]
            </h3>
        </div>
    </div>
    <div class="card-body">
        <!--begin: Datatable-->
        <table class="table table-bordered table-checkable">
            <thead>
                <tr>
                    <th>Class ID </th>
                    <th>Course Name</th>
                    <th>Faculty Name</th>
                    <th>Total Sessions Marked</th>
                    <th>Total Presents</th>
                    <th>Total Abesences</th>
                </tr>
            </thead>
            <tbody id="tblAttendence">
            
                                    

            </tbody>
        </table>
        <!--end: Datatable-->
    </div>
</div>
<!--end::Card-->

<script src="~/LMS/lib/jquery-3.6.0.js"></script>
<script src="~/LMS/lib/jquery.validate.min.js"></script>
<script type="text/javascript" src="~/LMS/ViewsJquery/StudentAttendenceReport.js"></script>