@{
ViewData["Title"] = "Mark Attedence";
Layout = "~/Views/Shared/_Layout.cshtml";

}
<style>
    .center {
        text-align: center;
    }
</style>
<div class="card card-custom gutter-b example example-compact">
    <div class="card-header flex-wrap py-3">
        <div class="card-title">
            <h3 class="card-label">@ViewData["Title"]
            </h3>
        </div>
    </div>
    <div class="card-body">
        <div class="form-group row">
            <div class="col-sm-4">
                <label>Select Class</label>
                <select class="form-control" id="dpDownClasses">
                </select>
            </div>
            <div class="col-sm-4">
                <label>Select Week</label>
                <select class="form-control" id="dpdownSelectWeek">
                    
                </select>
            </div>
            <div class="col-sm-3">
                <br>
                <button type="button" class="btn btn-primary" id="btnView">View</button>
            </div>
        </div>

        <table class="table table-bordered table-checkable">
            <thead>
                <tr>
                    <th class="center" rowspan="3">SID</th>
                    <th class="center" rowspan="3">Name</th>
                    <th class="center" colspan="4">Sessions</th>
                    <th class="center" rowspan="3">Total Sessions</th>
                    <th class="center" rowspan="3">Total Presents</th>
                    <th class="center" rowspan="3">Total Abesents</th>
                </tr>
                <tr>
                    <th colspan="2" class="center">1st</td>
                    <th colspan="2" class="center">2nd</td>
                </tr>
                <tr>
                    <th>P</td>
                    <th>A</td>
                    <th>P</td>
                    <th>A</td>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>9763</td>
                    <td>Masood Arif</td>
                    <td><input type="radio" name="1st" id="optionsRadios1" value="option1" checked></td>
                    <td><input type="radio" name="1st" id="optionsRadios2" value="option2"></td>
                    <td><input type="radio" name="2nd" id="optionsRadios3" value="option3" checked></td>
                    <td><input type="radio" name="2nd" id="optionsRadios4" value="option4"></td>
                    <td>32</td>
                    <td>23</td>
                    <td>2</td>
                </tr>

            </tbody>
        </table>
    </div>

</div>

<script src="~/LMS/lib/jquery-3.6.0.js"></script>
<script src="~/LMS/lib/jquery.validate.min.js"></script>
<script type="text/javascript" src="~/LMS/ViewsJquery/Attendence.js"></script>