@{
ViewData["Title"] = "View All Classes";
Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="card-header">
    <h3 class="card-title">@ViewData["Title"]</h3>
</div>


<br>
<!--begin::Card-->
<!-- <div id="ClassesCard">

</div> -->
<!--end::Card-->


<div class="row" id="ClassesCard">

</div>




<script src="~/LMS/lib/jquery-3.6.0.js"></script>
<script src="~/LMS/lib/jquery.validate.min.js"></script>
<script type="text/javascript" src="~/LMS/ViewsJquery/ViewAllClasses.js"></script>