@{
ViewData["Title"] = "View Course";
Layout = "~/Views/Shared/_Layout.cshtml";
}
<h1>@ViewData["ClassID"]</h1>
<div id="data"></div>

<script src="~/LMS/lib/jquery-3.6.0.js"></script>
<script src="~/LMS/lib/jquery.validate.min.js"></script>
<script type="text/javascript" src="~/LMS/ViewsJquery/SingleClassView.js"></script>