@{
ViewData["Title"] = "ViewAllClasses";
Layout = "~/Views/Shared/_Layout.cshtml";
}


<div class="form-panel">
    <div class="row">
        <div class="col-lg-10">
            <h1><i class="fa fa-angle-right"></i> View All Classes</h1>
        </div>
    </div>
</div>
<div class="form-panel">
    <div class="row">
        <a href="#">
            <div class="col-md-4 col-sm-4 mb">
                <div class="darkblue-panel pn">
                    <div class="darkblue-header">
                        <h5>BSCS</h5>
                    </div>
                    <h1 class="mt">DCN</h1>
                    <p>Tuesday </p>
                    <p>12:00-3:00 PM(noon) </p>
                    <footer>
                        <div class="centered">
                            <h5><i class="fa fa-book"></i></h5>
                        </div>
                    </footer>
                </div>
            </div>
        </a>

    </div>
</div>
<script type="text/javascript" src="~/LMS/ViewsJquery/UserAllClasses.js"></script>