@{
    ViewData["Title"] = "AddNewCourse";
    Layout = "~/Views/Shared/_Layout.cshtml";

}

<!--begin::Header-->
<div class="card-header align-items-center border-0 mt-4">
    <h3 class="card-title align-items-start flex-column">
        <span class="font-weight-bolder text-dark">Add New Course</span>
    </h3>
</div>
<!--end::Header-->
<div class="card-body pt-4">
    <!--begin::Form-->
    <form>
        <div class="card-body">
            <div class="form-group">
                <div class="form-group">

                    <label>
                        Username
                        <span class="text-danger">*</span>
                    </label>
                    <input type="email" class="form-control" />
                </div>
            </div>
            <div class="form-group">
                <label>Course short name</label>
                <input type="text" class="form-control" />
            </div>
            <div class="form-group">
                <label>Course category</label>
                <input type="text" class="form-control" />
            </div>
        </div>
    </form>
</div>