<!DOCTYPE html>
<html lang="en">

<head>
  
  <title>KIET | Learning Management System | Login  </title>

  <!-- Favicons -->
  <link href="~/LMS/img/favicon.png" rel="icon">
  <link href="~/LMS/img/apple-touch-icon.png" rel="apple-touch-icon">

  <!-- Bootstrap core CSS -->
  <link href="~/LMS/lib/bootstrap/css/bootstrap.min.css" rel="stylesheet">
  <!--external css-->
  <link href="~/LMS/lib/font-awesome/css/font-awesome.css" rel="stylesheet" />
  <!-- Custom styles for this template -->
  <link href="~/LMS/css/style.css" rel="stylesheet">
  <link href="~/LMS/css/style-responsive.css" rel="stylesheet">

</head>

<body>
  <style>
    .centerimg {
      display: block;
      margin-left: auto;
      margin-right: auto;
      width: 50%;
      margin-top: 100px;
      margin-bottom: -110px;
    }
  </style>
  <div class="centerimg">
    <img src="/LMS/img/logo_small.png">
  </div>
  @RenderBody()

  <!-- js placed at the end of the document so the pages load faster -->
  <script src="~/LMS/lib/jquery/jquery.min.js"></script>
  <script src="~/LMS/lib/bootstrap/js/bootstrap.min.js"></script>
  <!--BACKSTRETCH-->
  <!-- You can use an image of whatever size. This script will stretch to fit in any screen size.-->
  <script type="text/javascript" src="~/LMS/lib/jquery.backstretch.min.js"></script>
  <script>
    $.backstretch("/LMS/img/login_bg.png", {
      speed: 500
    });
  </script>
</body>

</html>