@{
ViewData["Title"] = "AddNewUser";
Layout = "~/Views/Shared/_Layout.cshtml";

}


<div class="form-panel">
    <div class="row">
        <h4 class="mb col-md-3"><i class="fa fa-angle-right"></i> Add new User</h4>
        <!-- <div class="alert alert-danger alert-dismissable col-md-8" id="NicAlert" hidden>
            <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
            <p id="addinfo"></p>
        </div> -->
        <label id="addinfo" class="col-md-8 error" ></label>
        <label id="roleinfo" class="col-md-8 error" ></label>
    </div>

    <form id="newuser">
        <div class="form-group row">
            <div class="col-sm-3">
                <label>
                    NIC number
                    <span class="error">*</span>
                </label>
                <input type="text" class="form-control" placeholder="" id="txtNic" name="nic">
            </div>
            <div class="col-sm-3">
                <label>
                    Name
                    <span class="error">*</span>
                </label>
                <input type="text" class="form-control" placeholder="" id="txtName" name="name">
            </div>
            <div class="col-sm-3">
                <label>Father's Name</label>
                <input type="text" class="form-control" placeholder="" id="txtFatherName">
            </div>



            <div class="form-group">
                <label>
                    Role
                    <span class="error">*</span>
                </label>
                <div class="col-sm-3">
                    <select class="form-control" id="dpdownRole">

                    </select>
                </div>
            </div>
        </div>
        <div class="row">

            <div class="col-sm-9">
                <div class="form-group row">
                    <div class="col-sm-4">
                        <label>
                            Email
                            <span class="error">*</span>
                        </label>
                        <input type="text" class="form-control" placeholder="" id="txtEmail" name="email">
                    </div>

                    <div class="col-sm-4">
                        <label>
                            Password
                            <span class="error">*</span>
                        </label>
                        <input type="password" class="form-control" placeholder="" id="txtPassword" name="password">
                    </div>

                    <div class="form-group">
                        <label id="lblprogram">
                            Program
                            <span class="error">*</span>
                        </label>
                        <div class="col-sm-4">
                            <select class="form-control" id="dpdownProgram" name="program">

                            </select>
                        </div>
                    </div>
                </div>

                <div class="form-group row">

                    <div class="col-sm-4">
                        <label>
                            Phone Number
                            <span class="error">*</span>
                        </label>
                        <input type="text" class="form-control" placeholder="" id="txtNumber" name="number">
                    </div>
                    <div class="col-sm-4">
                        <div class="radio">
                            <label>Gender</label><br>
                            <label>
                                <input type="radio" name="gender" id="rad1" value="male">
                                Male
                            </label>
                            <label>
                                <input type="radio" name="gender" id="rad2" value="female">
                                Female
                            </label>
                        </div>
                    </div>
                    <div class="col-sm-4">
                        <label>Date of birth</label>
                        <div data-date-viewmode="years" data-date-format="dd-mm-yyyy" data-date="01-01-2014"
                            class="input-append date dpYears">
                            <input type="text" readonly="" value="01-01-2014" size="16" class="form-control"
                                id="timeDOB1">
                            <span class="input-group-btn add-on">
                                <button class="btn btn-theme" type="button" id="timeDOB"><i
                                        class="fa fa-calendar"></i></button>
                            </span>
                        </div>
                    </div>
                </div>
                <div class="form-group row">
                    <div class="col-sm-7">
                        <label>Residential Address</label>
                        <input type="text" class="form-control" placeholder="" id="txtAddress">
                    </div>
                    <div class="col-sm-2">
                        <label>City</label>
                        <input type="text" class="form-control" placeholder="" id="txtCity">
                    </div>
                    <div class="col-sm-3">
                        <label>Country</label>
                        <input type="text" class="form-control" placeholder="" id="txtCountry">
                    </div>
                </div>
            </div>
            <div class="col-sm-3">
                <div class="col-sm-3">
                    <div class="form-group">
                        <div class="form-group last">
                            <div class="col-md-3">
                                <div class="fileupload fileupload-new" data-provides="fileupload">
                                    <div class="fileupload-new thumbnail" style="width: 200px; height: 150px;">
                                        <img src="http://www.placehold.it/200x150/EFEFEF/AAAAAA&text=no+image" alt="" />
                                    </div>
                                    <div class="fileupload-preview fileupload-exists thumbnail"
                                        style="max-width: 200px; max-height: 150px; line-height: 20px;" id="Image">
                                    </div>
                                    <div>
                                        <span class="btn btn-theme02 btn-file">
                                            <span class="fileupload-new"><i class="fa fa-paperclip"></i> Select
                                                image</span>
                                            <span class="fileupload-exists"><i class="fa fa-undo"></i> Change</span>
                                            <input type="file" class="default" id="Image1" />
                                        </span>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <button type="submit" class="btn btn-primary btn-lg btn-block" id="btnSubmit">Submit</button>


    </form>

</div>
<script src="https://code.jquery.com/jquery-3.6.0.js" integrity="sha256-H+K7U5CnXl1h5ywQfKtSj8PCmoN9aaq30gDh27Xc0jk="
    crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-validate/1.19.3/jquery.validate.min.js"
    integrity="sha512-37T7leoNS06R80c8Ulq7cdCDU5MNQBwlYoy1TX/WUsLFC2eYNqtKlV0QjH7r8JpG/S0GUMZwebnVFLPd6SU5yg=="
    crossorigin="anonymous" referrerpolicy="no-referrer"></script>

<script type="text/javascript" src="~/LMS/ViewsJquery/AddNewUser.js"></script>