@{
    ViewData["Title"] = "UploadImage";
}
<div class="col-sm-3">
    <!-- <div class="col-sm-3">
        <div class="form-group">
            <div class="form-group last">
                <div class="col-md-3">
                    <div class="fileupload fileupload-new" data-provides="fileupload">
                        <div class="fileupload-new thumbnail" style="width: 200px; height: 150px;">
                            <img src="http://www.placehold.it/200x150/EFEFEF/AAAAAA&text=no+image" alt="" />
                        </div>
                        <div class="fileupload-preview fileupload-exists thumbnail"
                            style="max-width: 200px; max-height: 150px; line-height: 20px;" id="Image">
                        </div>
                        <div>
                            <span class="btn btn-theme02 btn-file">
                                <span class="fileupload-new"><i class="fa fa-paperclip"></i> Select
                                    image</span>
                                <span class="fileupload-exists"><i class="fa fa-undo"></i> Change</span>
                                <input type="file" class="default" id="Image1" />
                            </span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div> -->
    <input type="file" class="default" id="Image1" />

</div>
<button type="submit" class="btn btn-primary btn-lg btn-block" id="btnSubmit">Submit</button>

