@{
    ViewData["Title"] = "UploadBulkUsers";
    Layout = "~/Views/Shared/_Layout.cshtml";

}
<div class="form-panel">
    <h4 class="mb"><i class="fa fa-angle-right"></i> Upload Bulk Users</h4>

    <form action="#" class="form-horizontal style-form">
      
      <div class="form-group">
        <label class="control-label col-md-3">Upload .csv file</label>
        <div class="controls col-md-9">
          <div class="fileupload fileupload-new" data-provides="fileupload">
            <span class="btn btn-theme02 btn-file">
              <span class="fileupload-new"><i class="fa fa-paperclip"></i> Select file</span>
            <span class="fileupload-exists"><i class="fa fa-undo"></i> Change</span>
            <input type="file" class="default" id="File"/>
            </span>
            <span class="fileupload-preview" style="margin-left:5px;"></span>
            <a href="advanced_form_components.html#" class="close fileupload-exists" data-dismiss="fileupload" style="float: none; margin-left:5px;"></a>
          </div>
        </div>
      </div>
     
    </form>
  </div>