@{
    ViewData["Title"] = "ViewUsers";
    Layout = "~/Views/Shared/_Layout.cshtml";

}
<!--begin::Header-->
<div class="card-header align-items-center border-0 mt-4">
    <h3 class="card-title align-items-start flex-column">
        <span class="font-weight-bolder text-dark">View all Users </span>
    </h3>
</div>
<!--end::Header-->