@{
ViewData["Title"] = "ViewUsers";
Layout = "~/Views/Shared/_Layout.cshtml";

}
<div class="content-panel">
    <h4 class="mb"><i class="fa fa-angle-right"></i> View all Users</h4>

    <table id="dtBasicExample" class="table table-striped table-bordered table-sm" cellspacing="0" width="100%">
        <thead>
            <tr>
                <th class="th-sm">User Name
                </th>
                <th class="th-sm"> Full Name
                </th>
                <th class="th-sm">CNIC
                </th>
                <th class="th-sm">Email
                </th>
                <th class="th-sm">Role
                </th>
                <th class="th-sm">Status
                </th>
                <th class="th-sm">Start Date
                </th>
                <th class="th-sm">Actions
                </th>
            </tr>
        </thead>
        <tbody id="tblusers">




        </tbody>
        <!-- <tfoot>
            <tr>
                <th>Name
                </th>
                <th>Position
                </th>
                <th>Office
                </th>
                <th>Age
                </th>
                <th>Start date
                </th>
                <th>Salary
                </th>
            </tr>
        </tfoot> -->
    </table>
</div>
<script src="~/LMS/lib/jquery-3.6.0.js"></script>
<script src="~/LMS/lib/jquery.validate.min.js"></script>
<script type="text/javascript" src="~/LMS/ViewsJquery/ViewUsers.js"></script>
