@{
ViewData["Title"] = "View Assesment";
Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="card-header">
    <h3 class="card-label" id="course_header">
    </h3>
</div>
<br>


<div class="row">
    <div class="col-md-8">
        <!--begin::Card-->
        <div class="card card-custom">
            <div class="card-header">
                <div class="card-title">
                    <span class="card-icon">
                        <img src="https://img.icons8.com/color/48/4a90e2/task--v1.png">
                    </span>
                    <h3 class="card-label" id="assesment_name">
                    </h3>
                </div>
                <div class="card-toolbar">
                    <div class="dropdown dropdown-inline" data-toggle="tooltip" title="Due Date" data-placement="left">
                        <small style="font-size: 100%;" id="due_date"></small>
                    </div>
                </div>
            </div>
            <div class="card-body assesment_description"></div>
        </div>
        <!--end::Card-->
    </div>
    <div class="col-md-4" id="submission_area">
        <div class="card card-custom">
            <div class="card-header">
                <div class="card-title">
                    <h3 class="card-label">Your Work</h3>
                </div>
            </div>

            <div class="card-body">
                <div id="SubmittedFile"></div>
                <div class="dropzone dropzone-default dropzone-success" id="assesment_submission">
                    <div class="dropzone-msg dz-message needsclick">
                        <h3 class="dropzone-msg-title">Drop file here or click to upload.</h3>
                        <span class="dropzone-msg-desc" style="color:#d30b2f">Only pdf and single file is allowed for
                            upload</span>
                    </div>
                </div>
            </div>
            <!-- <div class="card-header" >
                <div class="card-title">
                    <h3 class="card-label" id="submit_time" style="font-size: 12px;">Time:</h3>
                </div>
            </div> -->
            <div class="card-footer d-flex justify-content-between" id="submitBtnDiv">
                <button class="btn btn-light-danger font-weight-bold btn-lg btn-block" style="display:none"
                    id="resubmitBtn">Resubmit</button>
                <button class="btn btn-light-primary font-weight-bold btn-lg btn-block" id="assesmentSubmitBtn"
                    onClick="SubmitAssesment()">Submit</button>
            </div>
            <div class="progress" style="display: none;" id="UpladingProgress">
                <div class="progress-bar progress-bar-striped progress-bar-animated bg-primary" role="progressbar"
                    style="width: 100%" aria-valuenow="100" aria-valuemin="0" aria-valuemax="100"></div>
            </div>
        </div>
    </div>
    <div class="col-md-4" id="_folderArea">
        <div class="card card-custom">
            <div class="card-header">
                <div class="card-title">
                    <h3 class="card-label">Assesment Submission Folder</h3>
                </div>
            </div>

            <div class="card-body">
                <div id="folder_link"></div>
            </div>

        </div>
    </div>
</div>
<br>
<div class="row" id="submission_list">

</div>


<script src="~/LMS/lib/jquery-3.6.0.js"></script>
<script src="~/LMS/lib/jquery.validate.min.js"></script>
<script type="text/javascript" src="~/LMS/ViewsJquery/AssesmentSubmission.js"></script>